@import '../colors/colors.scss';

.basic-modal {
  .modal-content {
    background-color: $background-grey-dark;
    border-radius: 25px;
    width: 50rem;
    right: 10rem;

    .modal-header {
      padding: 15px;
      border: 0;

      .modal-title {
        margin: 0 auto;

        img {
          width: 50px;
        }
      }
    }
    .modal-body {
      padding: 20px 40px 40px 40px;
      width: 50rem;
    }
  }
}
